body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

.form{
	background-color:#ebf4fb;
	border:solid 1px #AAA;
	padding:1em;
}

.form div.row{
	float:none;
	margin:1em;
}
	.form div.row .first{
		text-align:right;
	}
		.form div.row .first label{
			font-weight:bold;
		}

.form .yui-gd .yui-u{
	width:50%;
}
.form .yui-gd .yui-u.first{
	width:48%;
}