html{
	font-family:Helvetica,Arial,"Lucida Sans Unicode",Tahoma,Verdana,Arial,Helvetica,sans-serif;
	background-color:white;
	color:#333;
}

body{
	margin:0;
}

div.container, form div.row {
	overflow: hidden;
	width: 100%
}

div.left{
	float:left;
	width:48%;
}

div.right{
	float:left;
	width:52%;
}

/* the primary div inside of the body tag */
#page{
	border:solid 1px gray;
	border-top:none;
	width:970px;
	margin:0 auto;
}

/* the main page body, below the header, above the footer */
#content{
	width:95%;
	margin:.5em auto;
	border:solid 1px #BCBCBC;
	border-top:none;
	border-bottom:none;
	padding:.5em;
}

#footer{
	background-color:#333;
	padding:.5em;
	color:white;
	font-size:90%;
}

a{
	color:#159;
}
	a:hover{
		color:#8BF;
	}

#header{
	background-color:#333;
	padding:1em;
}
	#header a{
		color:white;
	}
	#header h1{
		margin:0;
		font-weight:normal;
		letter-spacing:.5em;
	}
		#header h1 a {
			text-decoration:none;
		}
	#header .right{
		text-align:right;
	}

.form{
/*	border:solid 1px #666;
	padding:1em;*/
}
	.form fieldset{
		border:solid 1px #666;
	}
		.form fieldset legend{
			letter-spacing:.5em;
			background-color:#ADF;
			padding:.2em;
			border:dotted 1px gray;
			margin-left:-1px;
		}
	
	.form div.row{
		margin-bottom:1em;
	}
		.form div.row .left{
			width:30%;
			text-align:right;
			margin-right:1em;
		}
			.form div.row .left label{
				font-weight:bold;
			}

.errorExplanation{
	padding:.5em;
	border:solid 1px darkred;
	border-left:none;
	border-right:none;
	background-color:lightyellow;
	margin-top:1em;
}
	.errorExplanation h2{
		margin:0;
	}

.photo{
	border:solid 1px #000;
}