.paginationMeta{display:none;}

.photoSet{
	
}
	.photoSet .photoItem{
		width: 75px;
		margin-right:1em;
		margin-bottom:.7em;
	}
		.photoSet .photo:hover{
			border:solid 1px #999;
		}

#loadIndicator{
	margin-right:.5em;
}

#photoBucket{
	margin-top:1em;
	padding:1em;
}

	#photoBucket img{
		max-width:464px;
		max-height:342px;
	}

#search{
	margin-bottom:1em;
}
	#search .left {
		text-align:right;
		width:33%;
		text-align:left;
	}

#controls>.container>.left{
	width:85%;
}
#controls>.container>.right{
	width:13%;
	text-align:right;
}

#q{

}

.pagination .current{
	background-color:#666;
	border:1px solid #333;
}
.pagination a{
	color:#333;
	border:1px solid #666;
}