html{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	background-color:white;
	color:#333;
}

body{
	margin:0;
}

#doc4{
	border:solid 1px gray;
	border-top:none;
}

#bd{
	margin:1em 0;
}

#ft{
	background-color:#333;
	padding:.5em;
	color:white;
	font-size:90%;
}

a{
	color:#159;
}
	a:hover{
		color:#8BF;
	}

#hd{
	background-color:#333;
	padding:1em;
}
	#hd a{
		color:white;
	}
	#hd h1{
		margin:0;
		font-weight:normal;
		letter-spacing:.5em;
	}
		#hd h1 a {
			text-decoration:none;
		}
	#hd .yui-u{
		text-align:right;
	}
	#hd .yui-u.first{
		text-align:left;
	}

#yui-main>.yui-b>.yui-g{
	width:786px;
}

.form{
	border:solid 1px #666;
	padding:1em;
}

	.form div.row{
		float:none;
		margin:1em;
	}
		.form div.row .first{
			text-align:right;
		}
			.form div.row .first label{
				font-weight:bold;
			}
		/* labels (left column) */
		.form .yui-gd .yui-u{
			width:50%;
		}
		/* form input elements (right column) */
		.form .yui-gd .yui-u.first{
			width:48%;
		}

legend{
	letter-spacing:.5em;
	background-color:#ADF;
	padding:.2em;
	border:dotted 1px gray;
}

.errorExplanation{
	padding:.5em;
	border:solid 1px darkred;
	background-color:lightyellow;
	margin-top:1em;
}
	.errorExplanation h2{
		margin:0;
	}