<% form_for @user, :url => {:action=>:update}, :html=>{:class=>:form} do |f| %>
  
  <fieldset>
    <legend>Edit My Account</legend>
    <%= f.error_messages %>
    <%= render "form", :f => f %>
    <div class="row yui-gd">
      <div class="yui-u"><%= f.submit "Update", :class=>:submit %></div>
    </div>
  </fieldset>
  
<% end %>